.cart-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 20px;
    border: 1px solid black;
    height: 100px;
    padding: 1rem;
}

.cart-item-desc h3 {
    font-size: .9rem;
}

.cart-item-desc p {
    font-size: .8rem;
}

.cart-item-qty {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-item-price {
    font-size: 1rem;
    font-weight: bold;
}

.cart-item-btn {
    border: none;
    padding: .7rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: .8rem;
}