.product-item-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 150px 150px;
    margin-bottom: 20px;
    border: 1px solid black;
    height: 100px;
    padding: 1rem;
}

.product-item-desc h3 {
    font-size: .9rem;
}

.product-item-desc p {
    font-size: .8rem;
}

.product-item-price {
    font-size: 1rem;
    font-weight: bold;
}

.product-item-btn {
    border: none;
    padding: .7rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: .8rem;
}